body {
  background-color: #f9f9f9;
  padding-top: 200px;
}

.quote {
  background-color: #fff;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #e2e7e8;
  font-size: 20px;
}


.item {
  .edit-item {
    float: right;
  }

  .item-price {
    float: right;
    margin-right: 10px;
  }
}
