@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

body {
  background-color: #f9f9f9;
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif;

  span {
    text-decoration: none;
  }
}

.link {
  color: #40b6f3;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.quote {
  background-color: #fff;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #e2e7e8;
  font-size: 20px;

  h2 {
    float: left;
    margin-top: 10px;
    font-size: 28px;
  }

  .cancel, .amend {
    float: right;
    margin-top: 15px;
  }

  .cancel {
    color: #e9603d;
  }

}

.quote-items {
  clear: left;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      width: 100%;
      display: block;
      clear: both;
      padding: 10px 0;
      border-bottom: 1px solid #ecebeb;
      overflow: hidden;

      .item-price {
        margin-right: 10px;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .add-quote-item {
    margin-bottom: 30px;
    display: block;
    margin-top: -15px;
    border-top: 1px solid #ecebeb;
    padding-top: 20px;
  }
}

.total-section {
  margin-top: -15px;
  border-top: 2px solid #e2e7e8;
  padding-top: 15px;
}

.item {
  .item-form {
    float: left;
    width: 100%;
    clear: both;
  }
}

.disclaimer {
  clear: both;
  text-align: center;
  line-height: 4px;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 35px;
}

.total-ex-vat, .vat, .total-incl-vat {
  clear: both;
  overflow: hidden;

  strong {
    float: left;
  }

  p {
    float: right;
    margin-top: 0;
  }
}

.vat {
  margin-left: 20px;
}

.total-incl-vat {
  margin-top: -5px;
  padding-top: 10px;
  border-top: 1px solid #f2f2f2;

  p {
    color: #00a5ef;
    font-weight: bold;
    font-size: 35px;
  }
}

.quote-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  span {
    font-size: 18px;
    color: #868590;
    font-weight: bold;
    margin-right: 20px;
  }

  button {
    background: #00a5ef;
    width: 150px;
    color: #fff;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
}

.item-form {
  input[type="text"] {
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #dad4d4;
    width: 270px;
    font-size: 20px;
  }

  .save-item, .delete-item {
    box-sizing: border-box;
    vertical-align: top;

    &:focus {
      outline: 0;
    }
  }

  .save-item {
    height: 35px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 60px;
    background: #fff;
    cursor: pointer;
  }

  .delete-item {
    height: 35px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 30px;
    background: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
}
